.Stories{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;

    .imgUserStories{
        width: 4.5rem;
        border-radius: 50%;
        border: 3px solid transparent;
        margin: .1rem 0;
        background: linear-gradient(135deg,#FE6F27,white) border-box; 
    }

    .nameUser{
        font-size: .8rem;
    }
}