.Account{
    display: flex;
    gap: .5rem;
    align-items: center;

    .imgProfile{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
    }

    .accountContainer{
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: .35rem;
        align-items: flex-start;

        .username{
            color: #FE6F27;
            font-weight: 600;
        }

        .logout{
            background-color: transparent;
            border: none;
            font-size: .9rem;
        }
    }
}

@media screen and (min-width: 320px) {
    
    .Account{

        .imgProfile{
            width: 4rem;
            height: 4rem;
        }
    }
}