.TrendPostBtn{
    width: fit-content;
    padding: 0.35rem;
    display: flex;
    background-color: #FE6F27;
    border: none;
    border-radius: .2rem;
    box-shadow: 0px 0px 4px black;

    i{
        font-size: 1.35rem;
        color: white;
    }
}