.StoriesList{
    margin-top: 1rem;
    background: #FFFFFF;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.37);
    display: flex;
    overflow-x: hidden;
    overflow-x: scroll;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    padding: .5rem;
    gap: 1rem;
}

.StoriesList::-webkit-scrollbar{
    background-color: transparent;
    height: .5rem;
}

.StoriesList::-webkit-scrollbar-thumb{
    background-color: #FE6F27;
    border-radius: 1rem;
}


@media screen and (min-width: 320px) {
    .StoriesList{
        margin-top: 7rem;
    }
}

@media screen and (min-width: 1024px) {
    .StoriesList{
        margin-top: 1rem;
    }
  }